/* minimum width ka matlab hai ki bade ke liye ek certain point tk */
@media only screen and (min-width: 780px) {
.Dashboard-d{
    height: 100vh;
    width: 30vw;
    background-color: rgb(255, 255, 255);
}
.flexx{
    display: flex;
}
.ChatPage-c{
  width: 70vw;
}
.Dashboard-c{
  width: 30vw;
}

}





/* resonsive starts */
/* Regular styles for larger screens */

/* Media query for smaller smartphone sizes */
@media only screen and (max-width: 780px) {
/* this is users list  */

  .ChatPage-d{
    display: none;
  }
  .Dashboard-d{ 
    width: 100%;  
  }
/* this is users list */

/* the below is chatpage  */
.ChatPage-c{
    width: 100%;
  }
  .Dashboard-c{
    display: none;
  }
  
  }
  

  a{
    text-decoration: none;
    color: black;
}