.Received{
   
    width: 100%;
}

.R-message-holder{
 
    margin:20px ;
    display: flex;
    max-width: 60%;
    justify-content: start;
    min-height: 30px;
    padding: 5px;
}
.R-green-area{
    background: white;
    display: flex;
    min-height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}
.R-message{
   background-color: white;
    max-width: 60%;
    padding-bottom: 20px;
}
.R-time{
    display: flex;
    align-items: end;
    width: 60px;
    font-size: small;
}
