.Sent{
    width: 100%;
    display: flex;
    justify-content: end;
}
.message-holder{
    margin:20px ;
    display: flex;
    width: 60%;
    justify-content: end;
    min-height: 30px;
    padding: 5px;
}
.green-area{
    background-color: #a7ff98;
    display: flex;
    min-height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}
.Sent-message{
   
    max-width: 60%;
    padding-bottom: 20px;
}
.Sent-time{
    display: flex;
    align-items: end;
    width: 60px;
    font-size: small;
}
.Sent-seen{
    display: flex;
    align-items: end;
    width: 30px;

}